<div class="wrap">
    <header role="banner">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 social">
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                        <a href="#"><span class="fa fa-youtube-play"></span></a>
                    </div>
                    <div class="col-3 search-top">

                        <form action="#" class="search-top-form">
                            <span class="icon fa fa-search"></span>
                            <input type="search" name="search" id="s" placeholder="Type keyword to search...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container logo-wrap">
            <div class="row pt-5">
                <div class="col-12 text-center">
                    <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
                       aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                    <h1 class="site-logo"><a href="index-2.html">Wordify</a></h1>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md  navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:list' %}">Business</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'blog:list' %}" id="dropdown05"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                {% for category in categories %}
                                    <a class="dropdown-item"
                                       href="{% url 'blog:list' %}?cat={{ category }}">{{ category }}</a>
                                {% endfor %}

                                {#                                <a class="dropdown-item" href="category.html">Food</a>#}
                                {#                                <a class="dropdown-item" href="category.html">Adventure</a>#}
                                {#                                <a class="dropdown-item" href="category.html">Travel</a>#}
                                {#                                <a class="dropdown-item" href="category.html">Business</a>#}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'about:index' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact:index' %}">Contact</a>
                        </li>
                    </ul>
                    <span>
                        {% if request.user.is_authenticated %}
                            {{ request.user }}, <a href="{% url 'account:logout' %}" class="btn btn-primary">Logout</a>
                        {% else %}
                            <a href="{% url 'account:login' %}" class="btn btn-primary">Login</a>
                        {% endif %}
                </span>
                </div>
            </div>
        </nav>
    </header>
</div>