{% load static %}
<div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                        <form action="{% url 'blog:list' %}" class="search-form">
                            <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="search" name="search" class="form-control" id="s"
                                       placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>
                    {% if request.user.is_authenticated %}

                    <div class="sidebar-box">
                        <div class="bio text-center">
                            {% if request.user.profile.avatar %}
                                <img src="{{ request.user.profile.avatar.url }}" alt="Image Placeholder" class="img-fluid">
                                {% else %}
                                    <img src="{% static 'images/person_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
                                {% endif %}
                            <div class="bio-body">
                                <h2>{{ request.user.profile }}</h2>

                                    <p>{{ request.user.profile.bio }}</p>

                                    <p><a href="{% url 'about:index' %}" class="btn btn-primary btn-sm rounded">Read my bio</a>
                                </p>
                                <p class="social">
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                    <div class="sidebar-box">
                        <h3 class="heading">Popular Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                {% for object in popular_posts %}
                                    <li>
                                        <a href="{% url 'blog:detail' object.id %}">
                                            <img src="{{ object.image.url }}" alt="Image placeholder" class="mr-4">
                                            <div class="text">
                                                <h4>{{ object.title }}</h4>
                                                <div class="post-meta">
                                                    <span class="mr-2">{{ object.created_date|date:'F d, Y' }}</span>
                                                </div>
                                                <div class="post-meta">
                                                    <span class="mr-2">{{ object.views }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>



                    <div class="sidebar-box">
                        <h3 class="heading">Categories</h3>
                        <ul class="categories">
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'blog:list' %}?cat={{ category }}">{{ category }}<span>({{ category.article_set.count }})</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar-box">
                        <h3 class="heading">Tags</h3>
                        <ul class="tags">
                            {% for tag in tags %}
                                <li><a href="{% url 'blog:list' %}?tag={{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
